node_modules/
.env
.env.local

**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl

.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db

logs/
*.log

*.pem
*.key
*.crt
secrets/
credentials/

NOTES.md
